<template>
  <div id="comment-section" class="flex flex-col">
    <!-- <h5 class="text-gray-900 text-2xl font-semibold">Responses</h5> -->
    <section-title title="Responses" titleclass="text-gray-900 text-xl md:text-2xl font-semibold" :withline="true" class="border-b" />

    <div class="flex mb-6 border rounded-sm px-4 pt-4 h-auto shadow">
      <img class="w-8 h-8 lg:w-12 lg:h-12 rounded-full mr-2" src="https://tailwindcss.com/img/jonathan.jpg" alt="avatar">
      <textarea name="" class="w-full h-auto resize-none focus:outline-none p-0 md:p-2 text-base text-gray-600 leading-relaxed" placeholder="Write response.."></textarea>
    </div>

    <section class="flex flex-col">
      <div v-for="comment in comments" :key="comment.id" class="mb-2">
        <div>
          <comment-card :comment="comment"/>
          <div v-for="reply in comment.replies" :key="reply.id">
            <comment-card :comment="reply" :is-sub-comment="true" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import SectionTitle from '../common/SectionTitle'
import CommentCard from '../card/CommentCard'

export default {
  name: 'comment-section',
  props: ['articleId'],
  components: {
    SectionTitle,
    CommentCard
  },
  data() {
    return {
      comments: [
        {
          id: 1,
          user: {
            name: 'John Doe',
            image: ''
          },
          body: `<p>Ex ad adipisicing aliqua tempor exercitation. Laboris labore ex et eiusmod. In consectetur dolore ea anim nulla ut ipsum nisi consequat. Adipisicing pariatur incididunt adipisicing dolore commodo sunt velit nisi nostrud aliqua sint cupidatat id laboris. Eu anim aliqua sit est minim enim labore voluptate consectetur officia cupidatat qui Lorem proident. Sint aute et proident aliqua elit nulla cupidatat exercitation incididunt consectetur aliqua nostrud laboris. Aliquip exercitation excepteur Lorem laborum.
          
          Ad magna dolore esse esse. Veniam aliquip Lorem veniam reprehenderit magna anim excepteur. Nostrud dolore commodo tempor proident ipsum minim nisi in. Qui tempor ullamco amet minim. Ullamco aute occaecat aliqua in aliquip enim ullamco adipisicing pariatur tempor.</p>`,
          like: 467,
          created: new Date(),
          replies: [
            {
              id: 3,
              user: {
                name: 'Oliver',
                image: ''
              },
              like: 34,
              body: `<p>Non sint ullamco dolor et amet anim sunt sunt in esse voluptate. Nulla reprehenderit elit mollit id cillum id minim. Eiusmod commodo duis culpa ea culpa dolore. Eu nostrud deserunt dolore commodo dolore amet. Duis dolore elit nostrud exercitation duis ut ex laboris. Sint consectetur aute commodo enim fugiat cupidatat. Tempor adipisicing sit velit ipsum tempor est sit labore enim aliqua.</p>`,
              replyTo: {
                id: 1,
                user: {
                  name: 'John Doe',
                  image: ''
                }
              },
              created: new Date()
            },
            {
              id: 5,
              user: {
                name: 'Jane Doe',
                image: ''
              },
              like: 7,
              body: `<blockquote>Non sint ullamco dolor et amet anim sunt sunt in esse voluptate. Nulla reprehenderit elit mollit id cillum id minim. Eiusmod commodo duis culpa ea culpa dolore. Eu nostrud deserunt dolore commodo dolore amet. Duis dolore elit nostrud exercitation duis ut ex laboris. Sint consectetur aute commodo enim fugiat cupidatat. Tempor adipisicing sit velit ipsum tempor est sit labore enim aliqua.</blockquote>
              
              <p>Id est consectetur est ullamco anim ipsum.</p>
              `,
              replyTo: {
                id: 3,
                user: {
                  name: 'Oliver',
                  image: ''
                }
              },
              created: new Date()
            }
          ]
        },
        {
          id: 2,
          user: {
            name: 'John Doe',
            image: ''
          },
          body: `<p>Ex ad adipisicing aliqua tempor exercitation. Laboris labore ex et eiusmod. In consectetur dolore ea anim nulla ut ipsum nisi consequat. Adipisicing pariatur incididunt adipisicing dolore commodo sunt velit nisi nostrud aliqua sint cupidatat id laboris. Eu anim aliqua sit est minim enim labore voluptate consectetur officia cupidatat qui Lorem proident. Sint aute et proident aliqua elit nulla cupidatat exercitation incididunt consectetur aliqua nostrud laboris. Aliquip exercitation excepteur Lorem laborum.<p>
          
          <p>Ad magna dolore esse esse. Veniam aliquip Lorem veniam reprehenderit magna anim excepteur. Nostrud dolore commodo tempor proident ipsum minim nisi in. Qui tempor ullamco amet minim. Ullamco aute occaecat aliqua in aliquip enim ullamco adipisicing pariatur tempor.</p>`,
          like: 4,          
          created: new Date(),
          replies: [
            {
              id: 4,
              user: {
                name: 'Jane Doe',
                image: ''
              },
              like: 0,
              body: `<p>Non sint ullamco dolor et amet anim sunt sunt in esse voluptate. Nulla reprehenderit elit mollit id cillum id minim. Eiusmod commodo duis culpa ea culpa dolore. Eu nostrud deserunt dolore commodo dolore amet. Duis dolore elit nostrud exercitation duis ut ex laboris. Sint consectetur aute commodo enim fugiat cupidatat. Tempor adipisicing sit velit ipsum tempor est sit labore enim aliqua.</p>`,
              replyTo: {
                id: 2,
                user: {
                  name: 'John Doe',
                  image: ''
                }
              },
              created: new Date()
            }
          ]
        }
      ]
    }
  }
}
</script>

<style>

</style>