<template>
  <div class="w-full lg:max-w-full lg:flex mb-2 lg:mb-6">
    <div v-if="article.image" :style="'background-image: url(' + article.image + ')'" :title="article.title" class="h-40 lg:h-auto lg:w-40 flex-none bg-cover rounded-sm text-center overflow-hidden"></div>
    <div class="border-0 bg-white p-0 lg:p-4 lg:pt-0 flex flex-col justify-between leading-normal">
      <div class="lg:mb-8">
        <h2 class="text-gray-700 font-bold text-xl lg:text-2xl my-2 lg:mt-0">{{ article.title }}</h2>
        <p v-if="showBody" class="text-gray-600 text-base">{{ article.body }}</p>
      </div>
      <div class="flex items-center justify-start text-gray-600 text-xs">
        <p v-if="showDate">{{ article.created | date }}</p>
        <ul class="list-none mx-2 overflow-hidden flex justify-start">
          <li v-for="tag in article.tags" :key="tag" class="px-1 py-1">{{ '#' + tag }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'article-card',
  props: {
    article: {type: Object, required: true},
    showBody: {type: Boolean, default: true},
    showDate: {type: Boolean, default: true},
  }
}
</script>

<style>

</style>