<template>
  <div id="comment-card" :class="commentClass">
    <header class="mb-2 md:mb-6 flex justify-between">
      <div class="flex items-center">
        <img class="w-8 h-8 lg:w-10 lg:h-10 rounded-full mr-2" src="https://tailwindcss.com/img/jonathan.jpg" alt="avatar">
        <div class="flex flex-col ml-2 py-2">
          <p class="leading-none text-sm text-gray-900 font-semibold pb-2">{{ comment.user.name }}</p>
          <small class="text-2xs text-gray-600">{{ comment.created | date('dd-MM-yyyy') }}</small>
        </div>
      </div>
      <div v-if="comment.replyTo && comment.replyTo.user" class="flex py-4">
        <div class="flex justify-start items-center text-white bg-gray-400 border rounded py-1 px-2">
          <img src="@/assets/icons/reply.svg" class="m-0 h-4 w-4">
          <span class="text-xs ml-2 font-semibold">{{ comment.replyTo.user.name }}</span>
        </div>
      </div>
    </header>
    
    <article>
      <div class="content" v-html="comment.body"></div>
    </article>

    <footer class="mt-8">
      <div class="flex justify-between">
        <div class="flex justify-start">
          <button class="py-1 focus:outline-none">
            <img src="@/assets/icons/heart.svg" alt="heart" class="m-0 h-4 w-4">
          </button>
          <span class="text-sm ml-2 font-semibold">{{ comment.like }}</span>
        </div>
        <div>
          <button type="button" class="focus:outline-none">
            <span class="text-sm font-semibold text-gray-600">Reply</span>
          </button>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'comment-card',
  props: {
    comment: {
      type: Object,
      default: {}
    },
    isSubComment: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    commentClass() {
      return {
        'p-4 border-t border-b border-gray-400': !this.isSubComment,
        'p-2 ml-8': this.isSubComment
      }
    }
  },
  methods: {

  }
  // props: {
  //   user: {
  //     name: {type: String},
  //     image: {type: String}
  //   },
  //   body: {type: String},
  //   created: {type: Date}
  // }
}
</script>

<style scoped>
.content >>> p {
  @apply mb-2;
  @apply text-gray-800;
  @apply leading-relaxed;
}

.content >>> blockquote {
  @apply mb-2;
  @apply text-gray-800;
  @apply leading-relaxed;
  @apply bg-gray-400;
  @apply p-2;
  @apply border;
  @apply rounded-sm;
}
</style>