<template>
  <div class="w-full overflow-hidden">
    <div v-if="article.image" :style="'background-image: url(' + article.image + ')'" :title="article.imageAlt" class="h-64 flex-none rounded bg-cover overflow-hidden"></div>
    <div class="bg-white lg:py-4 flex flex-col justify-between leading-normal">
      <div class="mb-4 lg:mb-8">
        <h2 class="text-gray-700 font-bold text-xl lg:text-2xl my-2 lg:mt-0">{{ article.title }}</h2>
        <div class="flex flex-no-wrap items-center justify-start text-gray-600 text-xs my-3">
          <div class="mr-2 flex-none">
            <div class="flex items-center">
              <img class="w-6 h-6 rounded-full mr-2" src="https://tailwindcss.com/img/jonathan.jpg" alt="Avatar of Jonathan Reinink">
              <p class="leading-none">Jonathan Reinink</p>
            </div>
          </div>
          <p class="flex-none">{{ article.created | date }}</p>
          <div class="tags list-none mx-2 flex-none">
            <ul class="flex flex-no-wrap">
              <li v-for="tag in article.tags" :key="tag" class="px-1 py-1">{{ '#' + tag }}</li>
            </ul>
          </div>

        </div>
        <p v-if="showBody" class="text-gray-600 text-base">{{ article.body }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'featured-article-card',
  props: {
    article: {type: Object, required: true},
    showBody: {type: Boolean, default: true}
  }
}
</script>

<style>

</style>