<template>
  <div class="relative bg-gray-500 max-h-full">
    <img :src="article.image" :alt="article.title" class="max-w-full w-full h-64 md:h-auto">
    <div class="absolute headline-title bottom-0 left-0 right-0 px-6 py-12 md:px-12 md:py-16">
      <h1 class="text-white font-semibold text-xl md:text-2xl">{{ article.title }}</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'headeline-card',
  props: ['article']
}
</script>

<style scoped>
.headline-title {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

</style>