<template>
  <div class="flex lg:max-w-full max-h-10 mb-2 lg:mb-6">
    <div v-if="article.image" :style="'background-image: url(' + article.image + ')'" :title="article.imageAlt" class="h-24 w-24 lg:w-40 lg:h-40 mr-4 lg:mr-2 flex-none bg-cover rounded-sm text-center overflow-hidden"></div>
    <div class="border-0 bg-white p-0 lg:p-4 lg:pt-0 flex flex-col justify-between leading-normal overflow-hidden">
      <div class="lg:mb-8">
        <h2 class="text-gray-700 font-bold lg:text-xl mb-2">{{ article.title }}</h2>

        <div class="flex items-center justify-start text-gray-600 text-xs lg:my-3">
          <div class="mr-2 flex-none">
            <div class="flex items-center">
              <img class="w-4 h-4 lg:w-6 lg:h-6 rounded-full mr-2" src="https://tailwindcss.com/img/jonathan.jpg" alt="Avatar of Jonathan Reinink">
              <p class="leading-none">Jonathan Reinink</p>
            </div>
          </div>
          <p class="flex-none">{{ article.created | date }}</p>
          <ul class="list-none mx-2 overflow-hidden justify-start hidden md:flex">
            <li v-for="tag in article.tags" :key="tag" class="px-1 py-1">{{ '#' + tag }}</li>
          </ul>
        </div>

        <p v-if="showBody" class="text-gray-600 text-base hidden md:block">{{ article.body }}</p>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'new-article-card',
  props: {
    article: {type: Object, required: true},
    showBody: {type: Boolean, default: true}
  }
}
</script>

<style scoped>
.max-h-10 {
  max-height: 10rem;
}
</style>