<template>
  <div id="photostory-card" class="px-1 py-2 lg:px-2 w-4/5 h-56" :class="cardStyle">
    <div class="bg-gray-400 min-w-full h-full lg:w-full lg:h-full rounded border-transparent">
      <div :style="'background-image: url(' + article.image + ')'" :title="article.imageAlt" class="relative card-image">
        <div class="absolute abs-text-position">
          <h3 class="text-white text-lg mb-2">{{ article.title }}</h3>
          <small class="block text-white">{{ article.createdAt | date }}</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'photo-story-card',
  props: {
    cardStyle: { type: String, default: 'vertical', validator: (value) => ['vertical', 'horizontal'].includes(value) },
    article: { type: Object, required: true }
  }
}
</script>

<style scoped>
  .abs-text-position {
    bottom: 25px;
    left: 25px;
    right: 25px;
    top: auto;
  }

  .card-image {
    @apply h-full;
    @apply w-full;
    @apply flex-none;
    @apply bg-cover;
    @apply rounded;
    @apply overflow-hidden;
  }
  
  .vertical,
  .horizontal {
    min-width: 33.33333%;
  }

  @screen lg {
    .vertical {
      @apply w-2/4;
      height: 25.125rem;
    }

    .horizontal {
      @apply w-full h-64;
      height: 17.825rem;
    }
  }
</style>