<!-- simple card with text inside image -->
<!-- not complete yet -->
<template>
  <div id="simple-card" class="flex bg-gray-400 debug">
    <div class="w-full h-full">
      <div class="rounded border-transparent">
        <div :style="'background-image: url(' + image + ')'" class="relative card-image">
          <div class="absolute abs-text-position">
            <h3 class="text-white text-lg mb-1">{{ text }}</h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  props: ['image', 'text']
}
</script>

<style>
  .abs-text-position {
    bottom: 25px;
    left: 25px;
    right: 25px;
    top: auto;
  }
</style>