<template>
  <div id="video-card" class="rounded-sm overflow-hidden border border-gray-300">
    <div class="w-full h-32 md:h-40 overflow-hidden relative">
      <img class="w-full h-auto" :src="video.thumbnail" alt="Sunset in the mountains" />
      <div class="absolute play-button-overlay w-full h-full inset-0">
      </div>
    </div>
    <div class="px-2 py-2">
      <div class="font-bold text-sm md:text-md mb-2">{{ video.title }}</div>
      <div class="w-32 md:w-64">
        <p class="text-gray-700 text-base hidden md:block truncate">
          {{ video.description }}
        </p>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'video-card',
  props: ['video']
}
</script>

<style scoped>
.play-button-overlay {
  background: rgba(0,0,0,0.2) url("../../assets/icons/play-button.svg") no-repeat scroll center center / 80px 80px;
}

@screen md {
  .play-button-overlay {
    background: rgba(0,0,0,0.1) url("../../assets/icons/play-button.svg") no-repeat scroll center center / 100px 100px;
  }
}
</style>