<template>
  <div id="article-detail" class="w-11/12 mx-auto lg:px-6 page">
    <div class="img-wrapper w-full overflow-hidden mb-2">
      <img :src="image" :alt="title" class="w-full h-auto">
    </div>

    <article class="content-wrapper md:mx-20 my-4 md:my-10 tracking-wide md:tracking-wider">
      <header>
        <h1 class="my-4 md:my-8 font-bold text-xl md:text-3xl text-gray-900">{{ title }}</h1>
      </header>

      <div class="flex items-center my-6">
        <img class="w-4 h-4 lg:w-6 lg:h-6 rounded-full mr-2" src="https://tailwindcss.com/img/jonathan.jpg" alt="Avatar of Jonathan Reinink">
        <p class="leading-none text-sm text-gray-600 ml-2 mr-4 md:mr-8">Jonathan Reinink</p>
        <span class="text-sm md:text-xs text-gray-600">{{ created | date }}</span>
      </div>

      <h2 class="my-3 md:my-4 font-normal text-lg md:text-2xl text-gray-800">{{ excerpt }}</h2>

      <div class="w-full md:w-11/12">
        <div class="content" v-html="content"></div>
      </div>

      <div class="w-full md:w-11/12">
        <comment-section :articleId="id"/>
      </div>

    </article>


  </div>
</template>

<script>
import CommentSection from '@/components/sections/CommentSection'

export default {
  name: 'article-detail',
  components: {
    CommentSection
  },
  data() {
    return {
      id: 1,
      title: 'The standard Lorem Ipsum passage, used since the 1500s',
      image: 'https://images.unsplash.com/photo-1571432249005-a77c0a6e9371?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80',
      excerpt: 'The distraught wives and girlfriends of Trump voters have built a community around my radio show',
      content: `
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare est vel eros imperdiet, quis feugiat ex
          elementum. Nullam elementum tortor vitae neque porta euismod. Praesent semper, lorem pellentesque placerat
          elementum, neque odio pulvinar metus, eu elementum nunc ipsum et quam. Pellentesque mattis viverra justo, et
          vestibulum lectus interdum ut.
        </p>
        <p>
          Morbi placerat accumsan tellus, sit amet molestie lectus varius quis. Vestibulum
          massa eros, iaculis eget ex ac, convallis mattis felis. Donec blandit porttitor felis sed mattis. Morbi et mattis
          massa. Morbi a laoreet tortor, sed ultrices magna. Donec suscipit tellus ipsum, eget laoreet nunc consectetur eget.
          Nulla vulputate egestas tempor. Etiam et pellentesque massa. Donec convallis lacus leo, a tincidunt elit pretium et.
          Sed pulvinar ullamcorper egestas. Aliquam ultrices, eros eu suscipit vehicula, nunc orci bibendum enim, a facilisis
          nisl nunc in eros. Proin ut feugiat ante.
        </p>
        <p>
          Nunc vitae mi massa. Aenean dignissim velit id consequat euismod. Phasellus ultrices dolor in quam posuere maximus.
          Fusce aliquet dui in neque viverra convallis. Suspendisse iaculis ut felis in scelerisque. Fusce consequat sem quam,
          a sagittis mi consequat quis. Aliquam malesuada eget lectus eget suscipit. Ut semper rutrum lorem. Vestibulum
          suscipit, massa quis commodo laoreet, justo justo sollicitudin risus, ut sollicitudin purus mauris vel nunc.
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec pharetra est
          justo, consequat cursus diam pharetra sed. Ut molestie purus ut neque iaculis, non ornare nisi aliquet. Aliquam
          aliquam nibh non magna dignissim, nec varius sapien semper. Etiam rhoncus volutpat lorem in ullamcorper. Nulla orci
          est, malesuada auctor euismod id, viverra non nisi.
        </p>
        <p>
          Integer sed eros vestibulum, porttitor enim sed, sodales mauris. Aliquam blandit eu orci nec tempor. Sed vel aliquet
          lacus. Ut eu nibh vel purus gravida eleifend. Cras eros nulla, vestibulum vulputate lectus non, fringilla suscipit
          massa. Donec convallis ac libero in mattis. Morbi sed ligula ligula. Duis id malesuada turpis. Pellentesque luctus
          sed dolor id bibendum. Maecenas ornare, justo nec iaculis commodo, ligula massa posuere felis, quis suscipit augue
          diam ut lacus.
        </p>
        <p>
          Nam ornare facilisis mi vel fringilla. Ut egestas nibh a vehicula venenatis. Duis non nibh a sapien hendrerit
          convallis non venenatis erat. Integer imperdiet lobortis interdum. Quisque magna augue, rutrum id pulvinar quis,
          rutrum vitae orci. In lobortis tortor id turpis feugiat gravida. Curabitur sed sem id diam tempor ultricies. Aenean
          libero erat, gravida vel feugiat sit amet, condimentum varius quam. Nam commodo odio quis diam consequat, vitae
          aliquam erat ultrices. Donec a vulputate arcu. Vivamus augue orci, porttitor a mattis nec, semper in urna.
        </p>
        <p>
          Pellentesque pulvinar placerat tortor eget fermentum. Fusce iaculis arcu nec augue varius dignissim. Praesent
          facilisis feugiat commodo. Proin ut diam id tortor lobortis porttitor. Sed rutrum risus velit, in vehicula libero
          ullamcorper venenatis. Donec consectetur magna dapibus justo vulputate dignissim. Nunc sagittis mi vel magna finibus
          vestibulum. Cras finibus quis arcu non eleifend. Nullam at odio arcu. Mauris congue ex turpis, eget dapibus nisl
          posuere non. Suspendisse ac risus vel urna lacinia dignissim consequat at elit. Nunc arcu mi, bibendum fermentum
          ullamcorper a, volutpat sed lacus. Sed ornare, metus vitae sagittis pretium, sapien lorem dapibus nisl, a vestibulum
          mi ante eget ligula. Ut non bibendum quam. Nam tincidunt, diam et vehicula dapibus, urna justo iaculis ante, vitae
          luctus arcu dui nec neque. Pellentesque suscipit eros maximus fermentum pellentesque.
        </p>
      `,
      author: {
        name: ''
      },
      created: new Date()
    }
  }
}
</script>

<style scoped>
.img-wrapper {
  height: auto;
}

@screen md {
  .img-wrapper {
    height: 30rem;
  }

  .content >>> p {
    @apply text-lg;
    @apply mb-8;
    @apply text-gray-800;
    line-height: 1.8;
  }
}

.content >>> p {
  @apply text-xl;
  @apply mb-8;
  @apply text-gray-800;
  line-height: 1.5;
}

</style>