<template>
  <div id="home" class="mb-8 page">

    <headline />

    <div class="w-11/12 mx-auto lg:px-6">
      <featured-content-type />

      <photo-story />

      <videos />

      <div class="flex flex-wrap lg:flex-nowrap justify-between mt-0 md:mt-4">
        <div class="w-full lg:w-2/3 lg:pr-4">
          <new-articles />
        </div>
        <div class="w-full lg:w-1/3 lg:pl-4">
          <popular />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Headline from '@/components/Headline.vue'
import Popular from '@/components/Popular.vue'
import NewArticles from '@/components/NewArticles.vue'
import PhotoStory from '@/components/PhotoStory.vue'
import FeaturedContentType from '@/components/FeaturedContentType.vue'
import Videos from '@/components/Videos.vue'

export default {
  components: {
    FeaturedContentType,
    Headline,
    Popular,
    NewArticles,
    PhotoStory,
    Videos
  }
}
</script>

<style>
.VueCarousel-pagination--bottom-overlay .VueCarousel-dot-container {
  margin-bottom: 20px;
}
</style>