<template>
  <div id="podcast-page" class="mb-8">
    <div class="flex mb-4">
      <div class="w-full h-auto">
        <div class="title-wrapper p-20">
          <h2 class="uppercase text-center font-bold text-6xl text-white">Podcast</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.title-wrapper {
  background: rgb(110, 255, 211);
  background: linear-gradient(90deg, rgb(110, 255, 211) 0%, rgb(53, 160, 218) 100%);
}
</style>