<template>
  <div id="search">
    <div class="input-wrapper mt-4 border-b-2 border-gray-500 py-4">
      <input type="text" v-model="searchterm" placeholder="Jelajahi lingkup" class="w-full focus:outline-none">
    </div>
    <div class="block mt-4">
      <section-title title="Artikel Populer" class="mb-4" />
      <div class="flex flex-row flex-wrap -m-2">
        <div v-for="article in popular" :key="article.id" class="w-1/3 p-2">
          <featured-article-card :article="article" :show-date="false" />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import SectionTitle from '@/components/common/SectionTitle'
import FeaturedArticleCard from '@/components/card/FeaturedArticleCard'

export default {
  components: {
    SectionTitle,
    FeaturedArticleCard
  },
  data() {
    return {
      searchterm: '',
      popular: [
        {
          id: 1,
          title: 'Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC',
          created: new Date(),
          image: 'https://images.unsplash.com/photo-1572127469770-66f62e570754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=318&q=80',
          tag: 'Program Pemerintah'
        },
        {
          id: 2,
          title: 'The standard Lorem Ipsum passage, used since the 1500s',
          created: new Date(),
          image: 'https://images.unsplash.com/photo-1572127469770-66f62e570754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=318&q=80',
          tag: 'Lorem'
        },
        {
          id: 3,
          title: 'Lorem ipsum dolor sit, consectetur adipiscing C',
          created: new Date(),
          image: 'https://images.unsplash.com/photo-1572127469770-66f62e570754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=318&q=80',
          tag: 'Humaniora'
        },
        {
          id: 4,
          title: '1914 translation by H. Rackham',
          created: new Date(),
          image: 'https://images.unsplash.com/photo-1572127469770-66f62e570754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=318&q=80',
          tag: 'Program Pemerintah'
        },
        {
          id: 5,
          title: 'Lorem ipsum dolor amet, consectetur adipiscing elit E',
          created: new Date(),
          image: 'https://images.unsplash.com/photo-1572127469770-66f62e570754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=318&q=80',
          tag: 'Politik'
        },
        {
          id: 6,
          title: 'Lorem ipsum dolor sit, consectetur adipiscing elit F',
          created: new Date(),
          image: 'https://images.unsplash.com/photo-1572127469770-66f62e570754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=318&q=80',
          tag: 'Program Pemerintah'
        }
      ]
    }
  }
}
</script>

<style>

</style>