<template>
  <div id="video-page" class="mb-8">
    <div class="flex mb-4">
      <div class="w-full h-auto">
        <div class="title-wrapper p-20">
          <h2 class="uppercase text-center font-bold text-6xl text-white">New Release</h2>
        </div>
      </div>
    </div>
    <div class="w-11/12 mx-auto lg:px-6">
      <div class="block mb-4 md:mb-8">
        <section-title title="Video Terbaru" title-class="lg:text-2xl" />
        <carousel :pagination-enabled="false" :loop="false" :autoplay="false" :scrollPerPage="false" :perPageCustom="[[320, 1.5], [640, 2.5], [768, 2], [1024, 3.5]]" :resistanceCoef="0" :spacePaddingMaxOffsetFactor="0" class="-m-1 md:-m-2">
          <slide v-for="(video, index) in videos" :key="index">
            <div class="flex-none w-full p-1 md:p-2">
              <video-card :video="video" />
            </div>
          </slide>
        </carousel>
      </div>
      <div class="block">
        <section-title title="Video Populer" title-class="lg:text-2xl" />
        <div class="flex flex-row flex-wrap -m-1 md:-m-2">
          <div v-for="(video, index) in videos" :key="index" class="w-1/3 p-1 md:p-2">
            <video-card :video="video" />
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import VideoCard from '@/components/card/VideoCard'
import SectionTitle from '@/components/common/SectionTitle'

export default {
  components: {
    Carousel,
    Slide,
    VideoCard,
    SectionTitle
  },
    data() {
    return {
      videos: [
        {
          id: 1,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1559526324-c1f275fbfa32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'
        },
        {
          id: 2,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1553446859-2da5233c7dde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'
        },
        {
          id: 3,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1569182409034-703dd1c97e79?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
        },
        {
          id: 4,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1551717309-88444dbe54f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'
        },
        {
          id: 5,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1526224617767-e92ff8a3fb71?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
        },
        {
          id: 6,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1435777979752-56e82a9f1145?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
        }
      ]
    }
  }
}
</script>

<style scoped>
.title-wrapper {
  background: rgb(255,110,127);
  background: linear-gradient(90deg, rgba(255,110,127,1) 0%, rgba(191,233,255,1) 100%);
}
</style>