<template>
  <div id="auth-dropdown">
    <dropdown>
      <span slot="link">
        <button @click="open = !open" type="button" class="w-full text-center border rounded text-sm px-6 py-2 leading-none text-white font-semibold bg-gray-400 hover:bg-gray-500">Login</button> 
      </span>
      <div slot="dropdown" class="dropdown-wrapper shadow">

        <template v-if="type == 'login'">
          <div class="bg-gray-300 border border-gray-400 px-10 py-16 overflow-hidden">
            <h4 class="text-2xl font-semibold text-gray-800">Login</h4>
            <form @submit.prevent="login" class="my-6">
              <div class="mb-4">
                <input type="text" name="email" v-model="email" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
              </div>
              <div class="mb-4">
                <input type="password" name="password" v-model="password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
              </div>
              <p class="text-xs underline"><a href="#">Don't remember your password?</a></p>
              <button type="submit" class="text-center border rounded text-sm my-4 px-8 py-3 leading-none text-black font-semibold bg-gray-500 hover:bg-gray-500">Log In</button>
              <p class="text-xs">Don't have an account? <a @click.stop.prevent="switchTo('register')" class="text-red-600 cursor-pointer">Register</a></p>
            </form>
          </div>
        </template>

        <template v-else>
          <div class="bg-gray-300 border border-gray-400 px-10 py-16 overflow-hidden">
            <h4 class="text-2xl font-semibold text-gray-800">Register</h4>
            <form @submit.prevent="register" class="my-6">
              <div class="mb-4">
                <input type="text" name="text" v-model="name" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
              </div>
              <div class="mb-4">
                <input type="text" name="email" v-model="email" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
              </div>
              <div class="mb-4">
                <input type="password" name="password" v-model="password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
              </div>
              <div class="mb-4">
                <input type="password" name="confirmpassword" v-model="confirmpassword" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
              </div>
              <button type="submit" class="text-center border rounded text-sm my-4 px-8 py-3 leading-none text-black font-semibold bg-gray-500 hover:bg-gray-500">Register</button>
              <p class="text-xs">Already have an account? <a @click.stop.prevent="switchTo('login')" class="text-red-600 cursor-pointer">Login</a></p>
            </form>
          </div>
        </template>

      </div>
    </dropdown>
  </div>
</template>

<script>
import Dropdown from '../../common/Dropdown'

export default {
  name: "auth-dropdown",
  components: {
    Dropdown
  },
  props: {
    // type: {type: String, default: 'login'}
  },
  data() {
    return {
      type: 'login',
      open: false,
      name: '',
      email: '',
      password: '',
      confirmpassword: ''
    };
  },
  created() {
    this.type = 'login'
  },
  methods: {
    login() {
      console.log('login called')
    },
    register() {
      console.log('login called')
    },
    switchTo(type) {
      console.log('switch to ' + type)
      this.type = type;
    }
  },
  computed: {

  },
  beforeDestroy() {
    this.type = 'login'
  }
};
</script>

<style scoped>
.dropdown-wrapper {
  background-color: #F2F2F2;
  width: 20.825rem;
  height: 26rem;
}
</style>