<template>
  <header id="main-header" class="py-4 bg-white container">
    <div class="flex items-center justify-between flex-wrap">

      <router-link to="/" class="flex items-center flex-shrink-0 text-gray-700">
        <span class="text-xl text-gray-700 font-extrabold tracking-tight">Lingkup</span>
      </router-link>

      <div class="right-side flex flex row justify-between">
        <on-click-outside :do="handleClickOutside" class="flex flex-row pr-1 md:pr-2">
          <div class="relative">
            <button type="button" @click="performSearch" class="focus:outline-none">
              <svg class="fill-current h-6 w-6" version="1.0" xmlns="http://www.w3.org/2000/svg"
                width="811.000000pt" height="811.000000pt" viewBox="0 0 811.000000 811.000000"
                preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,811.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M4145 7043 c-94 -14 -294 -58 -383 -85 -310 -91 -631 -261 -889 -469
                -114 -92 -317 -300 -404 -414 -288 -378 -441 -743 -521 -1240 -20 -128 -17
                -562 6 -710 70 -456 255 -885 528 -1222 32 -40 58 -76 58 -80 0 -5 -320 -328
                -711 -718 -391 -391 -724 -728 -740 -749 -26 -36 -29 -46 -29 -121 0 -69 4
                -87 23 -115 32 -48 80 -70 152 -70 50 0 69 5 106 29 24 16 366 351 759 745
                393 394 718 716 723 716 4 0 40 -26 80 -58 338 -274 764 -457 1227 -529 146
                -22 556 -25 700 -5 402 57 760 191 1083 406 161 107 265 192 407 335 401 403
                656 931 726 1501 23 188 15 554 -15 725 -69 391 -191 697 -404 1015 -333 499
                -856 879 -1429 1039 -245 69 -285 73 -668 76 -195 2 -368 1 -385 -2z m645
                -380 c526 -70 1034 -349 1372 -753 272 -324 440 -698 504 -1115 22 -151 22
                -443 0 -595 -22 -141 -74 -349 -117 -461 -298 -785 -1005 -1333 -1832 -1420
                -140 -15 -442 -6 -567 16 -489 87 -907 310 -1239 661 -802 848 -800 2163 5
                3004 189 197 382 339 625 459 388 192 816 262 1249 204z"/>
                </g>
              </svg>
            </button>
            <transition name="fade">
              <input type="text" v-show="showSearchBar" v-model.lazy="searchterm" placeholder="Jelajahi Lingkup" class="lg:inline-block focus:outline-none leading-none text-sm px-2">
            </transition>
          </div>
        </on-click-outside>

        <auth-dropdown class="pl-1 md:pl-2" />
      </div>

    </div>

    <!-- main menu -->
    <div class="nav-item-wrapper flex flex-no-wrap items-center justify-between mt-2 lg:mt-5 overflow-x-scroll lg:w-auto lg:overflow-x-hidden">
      <router-link class="nav-item ml-0 mt-2 mr-3 mb-0 md:mt-0 md:mr-4 md:mb-4 text-gray-700 font-extrabold text-base md:text-xl flex-none hover:text-gray-900" v-for="category in categories" :to="category.path" :key="category.path">
        {{ category.text }}
      </router-link>
    </div>
  </header>
</template>

<script>
import OnClickOutside from '../../common/OnClickOutside'
import AuthDropdown from './AuthDropdown'

export default {
  name: 'main-header',
  components: {
    AuthDropdown,
    OnClickOutside
  },
  data: function() {
    return {
      showMenu: false,
      showSearchBar: false,
      searchterm: '',
      categories: [
        {path: '/1', text: 'News'},
        {path: '/2', text: 'Cerita Foto'},
        {path: '/3', text: 'Podcast'},
        {path: '/4', text: 'Video'},
        {path: '/5', text: 'Filsafat'},
        {path: '/6', text: 'Pop-Culture'},
        {path: '/7', text: 'Sejarah dan Budaya'},
        {path: '/8', text: 'Politik dan Hukum'}
      ],
      currentComponent: 'login-dropdown'
    }
  },
  methods: {
    handleClickOutside() {
      console.log('handleClickOutside called', this.showSearchBar)
      if (this.showSearchBar) {
        this.showSearchBar = false;
      }
    },
    performSearch: function() {
      console.log('perform search called', this.showSearchBar)

        this.$router.push('search')



      // if(!this.showSearchBar) {
      //   this.showSearchBar = !this.showSearchBar
      // } else {
      //   /** @todo act like search button */
      //   /** @option redirect to search page for mobile view? */
      //   // this.showSearchBar = !this.showSearchBar /** @removelater */
      // }
    },
    swapComponent: function(component) {
      this.currentComponent = component;
    }
  }
}
</script>


<style scoped>
.nav-item-wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>