<template>
  <section id="featured-content-type" class="flex">
    <div class="overflow-x-scroll md:overflow-x-hidden pb-2">
      <div class="min-w-full flex flex-row flex-no-wrap justify-between -mx-2">
      <div class="flex w-3/4 md:w-1/3">
        <div v-for="(content, index) in contents" :key="index" class="flex min-w-full px-2">

          <router-link :to="content.routerName">
            <div class="min-w-full">
              <section-title :title="content.text" title-class="lg:text-2xl" />
              <picture class="flex h-32 lg:h-48 border rounded overflow-y-hidden">
                <img :src="content.image" :alt="content.text" class="">
              </picture>
            </div>
          </router-link>
  
        </div>
      </div>
      </div>
    </div>
  </section>
</template>

<script>
import SectionTitle from './common/SectionTitle'

export default {
  name: 'featured-content-type',
  components: {
    SectionTitle
  },
  data() {
    return {
      contents: [
        {
          image: 'https://images.unsplash.com/photo-1571805529673-0f56b922b359?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80',
          text: 'Cerita Foto',
          routerName: ''
        },
        {
          image: 'https://images.unsplash.com/photo-1571869920202-a1716b871716?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80',
          text: 'Video',
          routerName: 'video'
        },
        {
          image: 'https://images.unsplash.com/photo-1559526324-c1f275fbfa32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80',
          text: 'Podcast',
          routerName: 'podcast'
        }
      ]
    }
  }
}
</script>

<style>
  .abs-text-position {
    bottom: 20px;
    left: 20px;
    right: 20px;
    top: auto;
  }
</style>