<template>
  <section id="headline" class="mb-4 md:mb-12">
    <carousel :perPage="1" :autoplay="true" :loop="true" :scrollPerPage="false" paginationPosition="bottom-overlay" paginationActiveColor="#333333" :autoplayTimeout="3000">
      <slide v-for="article in articles" :key="article.id">
        <div class="card-wrapper">
          <headline-card :article="article" />
        </div>
      </slide>
    </carousel>
  </section>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import HeadlineCard from './card/HeadlineCard'


export default {
  name: 'headline',
  components: {
    Carousel,
    Slide,
    HeadlineCard
  },
  data() {
    return {
      articles: [
        {
          id: 1,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1572043429310-084702fa663e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        },
        {
          id: 2,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1571841653714-f542a5e00bdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        },
        {
          id: 3,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        },
        {
          id: 4,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1571791378684-789346feb12a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        }
      ]
    }
  }
}
</script>

<style scoped>
.card-wrapper {
  height: 15rem;
}

@screen md {
  .card-wrapper {
    height: 33rem;
  }
}

</style>