<template>
  <section id="new-article" class="flex flex-wrap justify-between">
    <div class="w-full">
      <section-title title="Berita Terbaru" :withline="true" />
      <div v-for="article of articles" :key="article.id" class="flex flex-wrap flex-col">
        <router-link :to="{ name: 'article-detail', params: { slug: article.slug } }">
          <new-article-card :article="article" class="flex-1" />
        </router-link>
      </div>
      <div class="flex justify-end">
        <p class="text-blue-600 font-semibold">More</p>
      </div>
    </div>
  </section>
</template>

<script>
import NewArticleCard from './card/NewArticleCard'
import SectionTitle from './common/SectionTitle'

export default {
  name: 'new-articles',
  components: {
    NewArticleCard,
    SectionTitle
  },
  data() {
    return {
      articles: [
        {
          id: 1,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          slug: 'tes-123',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        },
        {
          id: 2,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          slug: 'tes-123',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        },
        {
          id: 3,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          slug: 'tes-123',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        },
        {
          id: 4,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          slug: 'tes-123',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        },
        {
          id: 5,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          slug: 'tes-123',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        },
        {
          id: 6,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          slug: 'tes-123',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        }
      ]
    }
  },
}
</script>

<style>

</style>