<template>
  <section id="photostory" class="block">
    <section-title title="Cerita Foto" title-class="lg:text-2xl" />
    <div class="inline-flex min-w-full flex-wrap flex-no-wrap overflow-x-scroll lg:overflow-x-hidden -m-1 mb-1 lg:mb-0">
      <div class="left-group lg:min-w-0 lg:w-1/2">
        <div class="flex flex-row flex-no-wrap lg:flex-wrap">
          <photo-story-card  v-for="article in group1" :key="article.id" :article="article" :card-style="article.style" />
        </div>
      </div>
      <div class="right-group lg:min-w-0 lg:w-1/2">
        <div class="flex flex-row flex-no-wrap lg:flex-wrap">
          <photo-story-card  v-for="article in group2" :key="article.id" :article="article" :card-style="article.style" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { FETCH_ARTICLES } from '@/store/types'
import PhotoStoryCard from '@/components/card/PhotoStoryCard.vue'
import SectionTitle from './common/SectionTitle'

export default {
  name: 'photo-story',
  components: {
    PhotoStoryCard,
    SectionTitle
  },
  data() {
    return {
      articles: [],
      group1: [],
      group2: [],
      a: {}
    }
  },
  created() {
    // this.$store.dispatch(`article/${FETCH_ARTICLES}`).then((data) => {
    //   const len = data.length
    //   const temp = data.map((article, index) => {
    //     return {...article, ...{
    //       style:  index == 0 || index == len-1
    //         ? 'horizontal'
    //         : 'vertical'
    //     }}
    //   })

    //   this.articles = temp
    //   this.group1 = [temp[0], temp[3], temp[4]]
    //   this.group2 = [temp[1], temp[2], temp[5]]
    // })

    const temp = [
      {
        "style": "horizontal",
        "id": "1",
        "userId": "1",
        "createdAt": "2019-10-15T23:45:20.678Z",
        "title": "extranet grey monetize",
        "content": "payment bluetooth",
        "image": "https://images.unsplash.com/photo-1571342574841-80ba1dfc8d4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
      },
      {
        "style": "vertical",
        "id": "2",
        "userId": "1",
        "createdAt": "2019-10-16T02:30:36.478Z",
        "title": "e-services synergies driver",
        "content": "District",
        "image": "https://images.unsplash.com/photo-1571264110192-cbd655303b50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=346&q=80"
      },
      {
        "style": "vertical",
        "id": "3",
        "userId": "1",
        "createdAt": "2019-10-16T12:26:58.438Z",
        "title": "New York Computer optical",
        "content": "Buckinghamshire auxiliary Handmade",
        "image": "https://images.unsplash.com/photo-1571334745426-f29c18451344?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=800"
      },
      {
        "style": "vertical",
        "id": "4",
        "userId": "1",
        "createdAt": "2019-10-17T19:10:03.621Z",
        "title": "Personal Loan Account cross-platform Fish",
        "content": "Nicaragua scalable web-readiness",
        "image": "https://images.unsplash.com/photo-1571338994046-88999cb2a912?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
      },
      {
        "id": "5",
        "userId": "1",
        "createdAt": "2019-10-17T18:22:39.378Z",
        "title": "Zambia",
        "content": "Belarus Central",
        "image": "https://images.unsplash.com/photo-1571366657709-88005f3a2e0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
      },
      {
        "style": "horizontal",
        "id": "6",
        "userId": "1",
        "createdAt": "2019-10-18T00:40:47.318Z",
        "title": "Identity Quality-focused",
        "content": "technologies navigating capacity",
        "image": "https://images.unsplash.com/photo-1571327952197-21484ebf6cd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
      }
    ]

    this.articles = temp
    this.group1 = [temp[0], temp[3], temp[4]]
    this.group2 = [temp[1], temp[2], temp[5]]
  },
  mounted() {

  },
  computed: {

  },
  methods: {

  }
}
</script>

<style scoped>
  @media only screen and (max-width: 1023px)  {
    .left-group {
      min-width: 140%;
    }

    .right-group {
      min-width: 140%;
    }
  }
</style>