<template>
  <section id="popular" class="flex flex-col">
    <!-- <pre>{{ populars }}</pre> -->
    <section-title title="Berita Terpopuler" :withline="true" />
    <div v-for="popular in populars" :key="popular.id" class="flex items-center mb-4">
      <div class="text-center px-2 w-1/5">
        <p class="text-2xl font-bold text-gray-800">{{ popular.day }}</p>
        <p class="text-xs lg:text-sm text-gray-600">{{ popular.month }}</p>
      </div>
      <div class="px-2 pl-5 w-4/5">
        <p v-if="popular.tag" class="font-semibold">
          <span class="text-gray-700 mr-1">#</span>
          <span class="text-gray-600">{{ popular.tag }}</span>
        </p>
        <h4 class="text-gray-800 font-semibold">{{ popular.title }}</h4>
      </div>
    </div>
  </section>
</template>

<script>
import { subDays } from 'date-fns'
import format from '@/_lib/format'
import SectionTitle from './common/SectionTitle'

export default {
  name: 'popular',
  components: {
    SectionTitle
  },
  data() {
    return {
      artciles: [
        {
          id: 1,
          title: 'Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC',
          created: subDays(new Date(), 27),
          tag: 'Program Pemerintah'
        },
        {
          id: 2,
          title: 'The standard Lorem Ipsum passage, used since the 1500s',
          created: subDays(new Date(), 56),
          tag: 'Lorem'
        },
        {
          id: 3,
          title: 'Lorem ipsum dolor sit, consectetur adipiscing C',
          created: subDays(new Date(), 7),
          tag: 'Humaniora'
        },
        {
          id: 4,
          title: '1914 translation by H. Rackham',
          created: subDays(new Date(), 2),
          tag: 'Program Pemerintah'
        },
        {
          id: 5,
          title: 'Lorem ipsum dolor amet, consectetur adipiscing elit E',
          created: subDays(new Date(), 95),
          tag: 'Politik'
        },
        {
          id: 6,
          title: 'Lorem ipsum dolor sit, consectetur adipiscing elit F',
          created: new Date(),
          tag: 'Program Pemerintah'
        },
      ]
    }
  },
  computed: {
    populars: function() {
      return this.artciles.map(article => {
        return {...article, ...{day: (new Date(article.created)).getDay(), month: format(new Date(article.created), 'MMMM')}}
      })
    }
  }
}
</script>

<style>

</style>