<template>
  <section id="videos" class="block">
    <section-title title="Video" title-class="lg:text-2xl" />
    <carousel :pagination-enabled="false" :loop="false" :autoplay="false" :scrollPerPage="false" :perPageCustom="[[320, 1.5], [640, 2.5], [768, 2], [1024, 3.5]]" :resistanceCoef="0" :spacePaddingMaxOffsetFactor="0" class="-m-1 md:-m-2">
      <slide v-for="(video, index) in videos" :key="index">
        <div class="flex-none w-full p-1 md:p-2">
          <video-card :video="video" />
        </div>
      </slide>
    </carousel>
    <div class="flex justify-end mt-2">
      <p class="text-gray-900 font-bold">
        <router-link to="video">View All</router-link>
      </p>
    </div>
  </section>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import VideoCard from './card/VideoCard'
import SectionTitle from './common/SectionTitle'

export default {
  name: 'videos',
  components: {
    Carousel,
    Slide,
    VideoCard,
    SectionTitle
  },
  data() {
    return {
      videos: [
        {
          id: 1,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1559526324-c1f275fbfa32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'
        },
        {
          id: 2,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1553446859-2da5233c7dde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'
        },
        {
          id: 3,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1569182409034-703dd1c97e79?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
        },
        {
          id: 4,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1551717309-88444dbe54f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'
        },
        {
          id: 5,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1526224617767-e92ff8a3fb71?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
        },
        {
          id: 6,
          title: 'What is Lorem Ipsum',
          description: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s',
          thumbnail: 'https://images.unsplash.com/photo-1435777979752-56e82a9f1145?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>