<template>
  <div id="headline" class="flex flex-wrap justify-between border-b-2 border-gray-400 mb-4 lg:mb-6 lg:mt-3">
    <div class="w-full lg:w-1/2 p-0 lg:pr-3">
      <featured-article-card :article="article" />
    </div>
    <div class="w-full lg:w-1/2 p-0 lg:pl-3">
      <div v-for="article of articles" :key="article.id" class="flex flex-wrap flex-col">
        <article-card :article="article" :show-body="false" class="flex-1" />
      </div>
    </div>
  </div>
</template>

<script>
import FeaturedArticleCard from '@/components/card/FeaturedArticleCard'
import ArticleCard from '@/components/card/ArticleCard'

export default {
  name: 'headline',
  components: {
    FeaturedArticleCard,
    ArticleCard
  },
  data() {
    return {
      article: {
        id: 1,
        title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
        body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
        image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
        created: new Date(),
        tags: [
          'Lorem',
          'Ipsum',
          'Dolor'
        ]
      },
      articles: [
        {
          id: 1,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        },
        {
          id: 2,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        },
        {
          id: 3,
          title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          body: 'Integer nec tincidunt libero. Donec vitae porttitor eros. Nam ex eros, feugiat et nibh non, tincidunt ornare augue. Curabitur vestibulum ante quis justo efficitur lobortis. Donec sed neque nisl.',
          image: 'https://images.unsplash.com/photo-1570910493059-b4d9f808d96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
          created: new Date(),
          tags: [
            'Lorem',
            'Ipsum',
            'Dolor'
          ]
        }
      ]
    }
  }
}
</script>

<style>

</style>