<template>
  <dropdown>
    <span slot="link">
      <button @click="open = !open" type="button" class="w-full text-center border rounded text-sm px-6 py-2 leading-none text-white font-semibold bg-gray-400 hover:bg-gray-500">Login</button> 
    </span>
    <div slot="dropdown" class="dropdown-wrapper bg-gray-300 border border-gray-400 px-10 py-16 overflow-hidden">
      <h4 class="text-2xl font-semibold text-gray-800">Login</h4>
      <form @submit.prevent="login" class="my-6">
        <div class="mb-4">
          <input type="text" name="email" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
        </div>
        <div class="mb-4">
          <input type="password" name="password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
        </div>
        <p class="text-xs underline"><a href="#">Don't remember your password?</a></p>
        <button type="submit" class="text-center border rounded text-sm my-4 px-8 py-3 leading-none text-black font-semibold bg-gray-500 hover:bg-gray-500">Log In</button>
        <p class="text-xs">Don't have an account? <a @click.stop.prevent="openRegister" class="text-red-600 cursor-pointer">Register</a></p>
      </form>
    </div>
  </dropdown>
</template>

<script>
import Dropdown from '../../common/Dropdown'

export default {
  name: "login-dropdown",
  components: {
    Dropdown
  },
  data() {
    return {
      open: false
    };
  },
  methods: {
    handleClickOutside() {
      if (this.open) {
        this.open = false;
      }
    },
    login() {
      console.log('login called')
    },
    openRegister() {
      console.log('open register called')
    }
  }
};
</script>

<style scoped>
.dropdown-wrapper {
  background-color: #F2F2F2;
  width: 20.825rem;
  height: 26rem;
}
</style>