<template>
  <transition name="back-to-top-fade">
    <div class="back-to-top" v-show="visible" @click="backToTop">
      <div class="relative">
        <div class="absolute" :style="`bottom:${this.bottom};right:${this.right};`">
          <slot>
            <div class="border border-transparent rounded-full bg-red-600 h-10 w-10 p-3 relative">
              <div class="w-full">
                <img src="@/assets/icons/chevron-up.svg" class="h-auto w-full" />
                <img src="@/assets/icons/chevron-up.svg" class="h-auto w-full" />
              </div>
            </div>
          </slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'back-to-top',
  props: {
    text: {
      type: String,
      default: 'Kembali ke atas',
    },
    visibleoffset: {
      type: [String, Number],
      default: 800,
    },
    visibleoffsetbottom: {
      type: [String, Number],
      default: 0,
    },
    right: {
      type: String,
      default: '30px',
    },
    bottom: {
      type: String,
      default: '40px',
    },
    scrollFn: {
      type: Function,
      default: function (eventObject) {},
    }
  },
  data() {
    return {
      visible: false
    }
  },
  mounted() {
    console.log('back to top mounted')
    window.smoothscroll = () => {
      let currentScroll = document.documentElement.scrollTop || document.body.scrollTop
      if(currentScroll > 0) {
        window.requestAnimationFrame(window.smoothscroll)
        window.scrollTo(0, Math.floor(currentScroll - (currentScroll/5)))
      }
    }
    window.addEventListener('scroll', this.catchScroll)
  },
  destroyed() {
    window.removeEventListener('scroll', this.catchScroll)
  },
  methods: {
    catchScroll() {
      const pastTopOffset = window.pageYOffset > parseInt(this.visibleoffset)
      const pastBottomOffset = window.innerHeight + window.pageYOffset >= document.body.offsetHeight - parseInt(this.visibleoffsetbottom)
      this.visible = parseInt(this.visibleoffsetbottom) > 0 ? pastTopOffset && !pastBottomOffset : pastTopOffset

      this.scrollFn(this)
    },
    backToTop() {
      window.smoothscroll();
      this.$emit('scrolled')
    }
  }
}
</script>

<style scoped>
/* .well-rounded {
  border-radius: 50%;
} */

.back-to-top-fade-enter-active, 
.back-to-top-fade-leave-active {
  transition: opacity .7s;
}
.back-to-top-fade-enter, 
.back-to-top-fade-leave-to {
  opacity: 0;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  @apply z-50;
}

</style>