<template>
  <on-click-outside :do="handleClickOutside">
    <div class="relative">
      <div role="button" class="inline-block select-none" @click="open = !open">
        <slot name="link"></slot>
      </div>
      <div class="absolute pin-l mt-px z-40 left-auto right-0" v-if="open">
        <slot name="dropdown"></slot>
      </div>
    </div>
  </on-click-outside>
</template>

<script>
/**
 * @note prop for style: left, right, center
 */
import OnClickOutside from "./OnClickOutside.vue";

export default {
  name: 'dropdown',
  components: {
    OnClickOutside
  },
  data() {
    return {
      open: false
    };
  },
  methods: {
    handleClickOutside() {
      if (this.open) {
        this.open = false;
      }
    }
  }
}
</script>

<style>

</style>