<template>
  <div class="section-title py-1 lg:py-2" :class="lineclass">
    <h3 class="text-gray-800 text-lg lg:text-xl font-bold" :class="titleclass">{{ title }}</h3>
  </div>
</template>

<script>
export default {
  props: {
    title: {type: String},
    withline: {type: Boolean, default: false},
    titleclass: {type: String}
  },
  computed: {
    lineclass() {
      return {
        'border-b-2 border-gray-400 mb-4 lg:mb-6 py-1 lg:py-3': this.withline
      }
    }
  }
}
</script>