<template>
  <footer id="main-footer" class="bg-black text-white">

    <div class="container">
      <div class="w-11/12 mx-auto px-2 lg:px-6">
        <div class="flex justify-between py-8 md:py-16 text-sm flex-col md:flex-row">
          <div class="w-full md:w-1/4">
            <div class="flex flex-col">
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
              <div class="mt-8">
                <ul class="flex -mx-4">
                  <li v-for="item in social" :key="item.name" class="flex-none px-4">
                    <router-link :to="item.link">
                      <img :src="item.image" :alt="item.name">
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mt-6 md:mt-0">
            <ul>
              <li v-for="(item, index) in featured" :key="index" class="my-2">
                <p>{{ item.name }}<span class="rounded-full px-4 pt-px pb-px ml-5 bg-gray-900 text-sm inline-block text-gray-400">{{ item.count }}</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="w-full border-t border-gray-700"></div>
    </div>

    <div class="container">
      <div class="w-11/12 mx-auto lg:px-6">
        <div class="flex justify-center flex-col md:justify-between md:flex-row text-center md:text-left flex-no-wrap py-2 text-xs text-gray-400">
          <div class="order-2 md:order-1">
            <p>&copy; Copyright 2019 lingkup. All Right Reserved</p>
          </div>
          <div class="order-1 md:order-2">
            <ul class="flex -mx-4 justify-center">
              <li v-for="(menu, index) in menus" :key="index" class="flex-none px-5 py-2 md:px-4 md:py-0">
                <router-link :to="menu.link">{{ menu.text }}</router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </footer>
</template>

<script>

export default {
  name: 'main-footer',
  components: { },
  data() {
    return {
      social: [
        {name: 'Facebook', image: require('@/assets/icons/facebook.svg'), link: '1'},
        {name: 'Twitter', image: require('@/assets/icons/twitter.svg'), link: '2'},
        {name: 'YouTube', image: require('@/assets/icons/youtube.svg'), link: '3'},
        {name: 'Instagram', image: require('@/assets/icons/instagram.svg'), link: '4'},
      ],
      featured: [
        {name: 'Podcast', count: 59},
        {name: 'Video', count: 127},
        {name: 'Pop-Culture', count: 34},
        {name: 'Sejarah dan Budaya', count: 541},
        {name: 'Berita', count: 205},
      ],
      menus: [
        {text: 'Kontak', link: '1'},
        {text: 'Email', link: '2'},
        {text: 'Peta Situs', link: '3'},
        {text: 'Legal', link: '4'},
      ]
    }
  }
}
</script>

<style scoped>
.container {
  max-width: 100%;
}
</style>