<template>
  <div id="app">
    <component :is="layout">
      <transition-page>
        <router-view/>
      </transition-page>
    </component>
  </div>
</template>

<script>
import TransitionPage from './components/common/TransitionPage'
import DefaultLayout from './layouts/DefaultLayout'
import FullwidthLayout from './layouts/FullwidthLayout'

export default {
  components: {
    TransitionPage,
    DefaultLayout,
    FullwidthLayout
  },
  computed: {
    layout() {
      return `${this.$route.meta.layout || 'default'}-layout`;
    },
  },
  methods: {
    afterLeave () {
      this.$root.$emit('triggerScroll')
    }
  }
};
</script>

<style scoped>
/* .slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
} */

.fade-enter-active, .fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


/* .page {
  position: fixed;
  width: inherit;
} */

</style>