@tailwind base;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@tailwind components;

.debug,
.debug1 {
  border: 2px solid red;
}

.debug2 {
  border: 2px solid green;
}

.debug3 {
  border: 2px solid blue;
}


.truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-3-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.hide-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


@tailwind utilities;