<template>
  <div class="container">
    <!-- Main Header -->
    <div class="w-11/12 mx-auto lg:px-6">
      <main-header />
    </div>

    <!-- Content -->
    <slot />

    <!-- Main Footer -->
    <main-footer />

    <back-to-top visibleoffset="800" />

  </div>
</template>

<script>
import MainHeader from '@/components/layout/Header/MainHeader.vue'
import MainFooter from '@/components/layout/Footer/MainFooter.vue'
import BackToTop  from '@/components/common/BackToTop'

export default {
  components: {
    MainHeader,
    MainFooter,
    BackToTop
  }
}
</script>

<style scoped>
  .container {
    max-width: 100%;
  }
</style>