<template>
  <div class="container">
    <wrapper>
      <main-header />
      <slot></slot>
      <!-- <div class="filler"></div> -->
    </wrapper>

    <main-footer />
  </div>
</template>

<script>
import Wrapper from '@/components/common/Wrapper'
import MainHeader from '@/components/layout/Header/MainHeader.vue'
import MainFooter from '@/components/layout/Footer/MainFooter.vue'

export default {
  name: 'fullwidth-layout',
  components: {
    MainHeader,
    MainFooter,
    Wrapper
  }
}
</script>

<style scoped>
  .container {
    max-width: 100%;
  }
  .filler {
    min-height: 500px;
  }
</style>